<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<nav>
			<a href="#">CLASSES</a>
			<a href="#">HIRE US</a>
			<img src="logo" alt="logo">
			<button>DONATE</button>
		</nav>
		<header>
			<section>
				<h1>WHERE GRIT MEETS OPPORTUNITY</h1>
				<h2>At Level Ground (LG), urban youth cultivate grit and resilience through Mixed Martial Arts. They learn to apply these values 'off the mat' in the persuit of their ambitions through our Student Trainer Certification and College Access programs.</h2>
				
			</section>
		</header>
		<section></section>
		<section></section>
		<section></section>
		<footer></footer>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
