/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

p {
  color: red;
  font-size: xx-large;
  font-weight: 900;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
