/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

#fTemp {
  color:red;
  font-size: xx-large;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
